# build artifacts
/bin/
/obj/
program.exe
*.exe
*.dll
*.config

# editor/cache
*.user
*.vs
.idea/

# MonoDevelop
*.pidb

# macOS
.DS_Store

# redundant backup files
redundant/

# ROM files (copyrighted material)
*.gb
roms/
gb-test-roms/
